<html>
<head>
    <title>Curd Home</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron{
        margin: 20px 100px;
        border: green solid 5px;
        background-color: chartreuse;
        border-radius: 40px;
    }
    a{
        margin-left: 130px;
        font-size: 30px;
        border: 3px black solid;
        border-radius:10px;
        padding: 2px 5px;
        border-radius: revert;
    }
    h2{
        font-size: 100px;
    }
    body{
        background-color: aqua;
    }
    a{
        color: red;
    }
</style>
<body>
<h2 class="text-center">Curd Operations</h2>
<div class="jumbotron">
    <a href="/create/">Create</a>
    <a href="/update/">Update</a>
    <a href="/retrive/">Retrive</a>
    <a href="/delect/">Delete</a>
</div>
</body>
</html>